{% extends "base.html" %}

{% load i18n %}

{% load static %}
{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'style.css'%}" />



<div class="container">
  <span class="big-circle"></span>
  <img src="{% static 'img/shape.png'%}" class="square" alt="" />
  <div class="form">
      <div class="contact-info">
          <h3 class="title">Share your creative content worldwide!</h3>
          <p class="text">

          </p>

          <div class="info">
              <div class="information">
                  <p>Have problems uploading? <br>
                      No worries! We got you.<br><br></p>
              </div>
              
              <div class="information">
                  <img src="{% static 'img/email.png'%}" class="icon" alt="" />
                  <p><a style="text-decoration: none; color: #555;"
                          href="mailto:admin01vistara@gmail.com">admin01vistara@gmail.com</a></p>
              </div>
              <div class="information">
                  <img src="{% static 'img/phone.png'%}" class="icon" alt="" />
                  <p>+91 9840626580</p>
                  
                  
                  
              </div>
          </div>
          <a class="nav-link" href="{% url 'video-create' %}">Go back to website!!!!</a>
      
        </div>

      <div class="contact-form">
          <span class="circle one"></span>
          <span class="circle two"></span>





<h3>{% trans "<br> &nbsp;&nbsp;&nbsp; Sign Out<br><br>" %}</h3>



<form method="post" action="{% url 'account_logout' %}">
  <p>{% trans 'Are you sure you want to sign out?' %}</p>
  {% csrf_token %}
  <button type="submit">{% trans 'Sign Out' %}</button>
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  
  

  <div class="input-container"></div>
</form>


{% endblock %}
