<!DOCTYPE html>
<html lang="en">
  {% load static %}
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Video Streaming Page</title>
  <link rel="stylesheet" href="{% static 'style1.css'%}" />
  <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>

<body>
    <div class="container">
      <span class="big-circle"></span>
      <img class="square" src="{% static 'img/shape.png'%}" class="square" alt="" />
      <div class="form">
        <div class="contact-info">
            <p class="text">
              
        </div>
  
        <div class="contact-form">
          <span class="circle one"></span>
          <span class="circle two"></span>
  
          <form action="index.html" autocomplete="off">
            <h1 class="heading">Vistara</h1>
            <h5>Name: {{Profile.user.username}}</h5>
            <h6>Name: {{ profile.name }}</h6>
            <h6>Location: {{ profile.location }}</h6>
            {% for video in vidoes %}
            <h5>{{ video.title }}</h5>
            {% end for %}
            </form>
        </div>